.notification {
    display: flex;
    position: relative;
    z-index: 0;
    top: 0;
    right: 0;
}

.notification span {
    background-color: var(--clr-paid-font);
    color: var(--container-color);
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: .5rem 1rem;
    border-radius: .3rem;
}