.itemDetail {
  display: grid;
  color: var(--clr-gray300);
  font-size: 0.9rem;
  background-color: var(--clr-gray100);
  padding: 0 2rem;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px var(--clr-gray300);
  background-color: white;
  text-align: left;
  overflow: hidden;
}

table thead {
  background-color: var(--clr-gray700);
  box-shadow: 0 5px 10px var(--clr-gray300);
}

table th {
  color: var(--clr-gray100);
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

table td {
  color: var(--clr-gray600);
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

table td img {
  width: 40px;
  height: 70px;
  padding-top: 1rem;
}