:root {
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 54; /*Turquoise 173 - Green 142 - Blue 230 - Pink 340*/
    
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 100%, 50%);
    --first-color-second: #161d34;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: #161d34;
    --text-color: #2a324b;
    --text-color-light: #4f546c;
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 6%, 99%);
    --container-color: #FFF;
    --container-color-alt: rgba(255, 255, 255, 0.87);
}

.cartWidget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.cartWidget__icon {
    font-size: 2.3rem;
    padding-right: .5rem;
}

.cartWidget__counter {
    font-size: 1.5rem;
    font-weight: 400;
}
  
.cartWidget:hover {
    background: var(--first-color);
    color: var(--first-color-second);
    transition: .3s;
} 