.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7rem;
    background: var(--first-color-second);
}
  
.navbar__categories {
  display: inline-block;
}

.navbar__brand {
  display: flex;
  flex-wrap: wrap;
  color: var(--first-color);
  cursor: pointer;
}

.navbar__brand h3 {
  font-size: 1.7rem; 
  font-weight: 400;
  cursor: pointer;
}

.navbar__brand:hover {
  color: var(--first-color-alt);
  transition: .3s;
}

.navbar__logo {
  font-size: 2.5rem; 
  margin-top: -.35rem;
  margin-right: .5rem;
}
  
.navbar__category {
  display: inline-block;
  width: auto;
  font-size: 1.5rem; 
  color: var(--first-color);
  font-weight: 400;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar__category:hover {
  color: var(--first-color-alt);
  transition: .3s;
}
  