
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #24A69A;
    display: flex;
    height: 70px;
    padding: 0 5rem;
  }
  
  .logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .logo .logo-icon {
    color: #24A69A;
    font-size: calc(20px + 2vmin);
    align-self: center;
    padding-right: .5rem;
  }
  
  .logo h2 {
    font-size: calc(5px + 2vmin);
    font-weight: 400;
    color: #24A69A;
    text-align: center;
  }
  
  .Navbar .nav-links {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .Navbar .nav-links a {
    align-self: center;
    text-decoration: none;
    font-size: calc(5px + 2vmin);
    color: #24A69A;
    font-weight: 400;
    padding: .5rem 1rem;
    margin-right: .5rem;
  }

  .Navbar .nav-links a:hover {
    color: #F2EDE5;
    background: #24A69A;
    border-radius: 1.5rem;
  }

  .Navbar .nav-links .log-in {
    align-self: center;
    text-decoration: none;
    font-size: calc(5px + 2vmin);
    font-weight: 400;
    color: #24A69A;
    background: #F2EDE5;
    border: 1.5px solid #24A69A;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    margin-right: .5rem;
  }

  .Navbar .nav-links .log-in:hover {
    color: #F2EDE5;
    background: #24A69A;
  }

  .cart {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .cart-icon {
    color: #24A69A;
    font-size: calc(7px + 2vmin);
    align-self: center;
    padding-right: .5rem;
  }

  .cart-counter {
    font-size: calc(5px + 2vmin);
    font-weight: 400;
    color: #24A69A;
  }

  
  