.itemCount {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

.itemCount__quantity-btn {
    background: transparent;
    color: var(--title-color);
    cursor: pointer;
    padding: 0 1rem;
    align-self: center;
}

.itemCount__quantity-icon {
    font-size: 2rem;
    padding-top: .5rem;
}

.itemCount__quantity-btn:hover {
    color: var(--first-color);
}

.itemCount__quantity {
    color: var(--title-color);
    font-size: 1.7rem;
}

.itemCount__btn {
    display: flex;
    justify-content: center;
}
  
.itemCount__btn button {
    color: var(--first-color-second);
    background-color: transparent;
    border: 1px solid var(--first-color-second);
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .7rem 2rem;
    margin-top: 2rem;
}

.itemCount__btn button:hover {
    color: var(--container-color);
    background-color: var(--first-color);
}


